.Story{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.story-photo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 5px;
    /*margin: 10px;*/
}

.story-name{
    font-weight: bold;
    margin: auto;
}